/*
Basics Index
- This File Imports All Partials (_[Name.scss]) Into This Index File
-This File Gets Imported Into The _MASTER-DIR.scs
- No Need To Specify File Extension SASS Is Smart It Auto Detects The File Extensions
 */

//Importing Header File
@import "landing";


