/*
landing Section Styling
- An Image Is Imported Via Background-Image URL
- Various Media Queries Are Used To Adjust The Amount Of Padding
- Nesting Is Used
- A Mixin Is Used To Ensure The Background Image Fits The Screen And Works On Other Browsers
- A Mixin Is Also Used To Center Text
*/

.header {
  color: $white; //Text Colour
  @include text-align (center); //Mixin To Center Text
  @include background-image (); //Background Image Mixin
  background-image: url("/images/wallpaper.jpg"); //Background Image
  .header-content {
    opacity: 0;
    padding-top: 75vh;
    @include slidein(); //Background Image Mixin
    @include flex (column, center, center, 100vh); //Flex Box Utilites With 4 Arguements (flex-direction, justify-content, align-items, $view-height)
  }
}