<!DOCTYPE html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Keywords-->
    <meta name="application-name" content="Alex Machin">

    <meta name ="keywords" content="
    Alex Machin, Front-End Development, Rotherham, South Yorkshire, Sheffield,
    Web Development, Front-end Web Developer Portfolio, Website Design, Node, Node js,SASS, Gulp JS, Express, Bootstrap ,
    Web App, Web Application, CSS, HTML, JS, Javascript"
    />

    <!-- Allows Googles Search Engine Crawlers  -->
    <meta name ="robot" content="index,follow" /> <!-- All Search Engines -->
    <meta name="googlebot" content="index,follow" /> <!-- Googles Search Engine -->

    <!-- Meta Description , Appears In Search Engine Results -->
    <meta name="description" content="Welcome to my portfolio website, Im a student and aspiring front-end developer. My website contains information about me, my various projects and how to contact me.">

    <!-- Twitter Meta Card Data -->
    <meta name="twitter:card" content="summary" /> <!-- Needs To Be Summary -->
    <meta name="twitter:site" content="@AlexMachin97" /> <!-- Twitter Username  -->
    <meta name="twitter:title" content="Alex Machin" /> <!-- Twitter Card Title -->
    <meta name="twitter:description" content="Currently, I'm completing a degree in computing systems and development at @RotherhamColl. During my spare time i perfect my front-end development skill's." /><!-- Twitter Description -->
    <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/962775964475445248/vHFE0-cG_400x400.jpg" /> <!-- Profile Link -->

    <!-- Page Title -->
    <title>Alex Machin </title>

    <!-- Favicon Links To Images File Where The Ico File Is Located -->
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

    <!-- Resources For The Web site -->
    <link rel="stylesheet" type="text/css" href="/css/APP.css">

    <!-- Javascript Bundle  -->
    <script type="text/javascript" src= "/scripts/main.js" ></script>

    <!-- Fontawesome 5 CDN Link -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>

    <!-- Recaptcha Form Validation Link To Google-->
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    
    <!-- Google Analytics  -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116928895-1"></script>

    <!-- Google Analytics Configuration, Porvided By Google After Setting Up Analaytics -->
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-116928895-1');
    </script>
</head>

<body>
