<header class="header">
  <div class="container">

    <!-- Error Messages Will Appear Here -->
    <% if(error && error.length > 0) { %>
        <div class="alert alert-danger bigger" role="alert" id="flash">
            <h4> Something Went Wrong, Please Try Again </h4>
        </div>
    <% } %>

    <!-- Success Messages Will Appear Here -->
    <% if(success && success.length > 0) { %>
        <div class="alert alert-success bigger" role="alert" id="flash">
            <h4> Message Successfully Sent </h4>
        </div>
    <% } %>

    <div class="header-content">
      <!-- -Typography Class -->
      <h1 class="huge">
        Node JS Starter Kit
       </h1>

      <!-- -Typography Class -->
      <h2 class="bigger">
        Ground zero for your node js web applications
    </h2>

    </div> <!-- Closes Header Content-->
  </div> <!-- Closes Container -->
</header> <!-- Closes Header Class -->
