/* ------------------------------------------------------
Instructions:
1- load bootstrap functions
2 - Load bootstrap sass files.
3 - Load custom project variables.
4 - Load custom app sass files.
--------------------------------------------------------*/

/* --------------------------------------------------------
Import in the default bootstrap variables.
Then override bootstrap default with project specific values.
 -------------------------------------------------------- */
 @import "../../node_modules/bootstrap/scss/_functions"; //Must Go First Or Bootstrap Will Crash
@import "../../node_modules/bootstrap/scss/_variables"; // Bootstrap Variables
@import "1-tools/variables"; //Local Variables For Project

/* --------------------------------------------------------
Import required bootstrap sass files needed for this project.
Uncomment any bootstrap functionality required for this project.
The idea is to keep this as small as possible.
/* --------------------------------------------------------
Core mixins
-------------------------------------------------------- */
@import "../../node_modules/bootstrap/scss/mixins";

/* --------------------------------------------------------
Reset and dependencies
--------------------------------------------------------*/
// @import "../../node_modules/bootstrap/scss/print";

/* --------------------------------------------------------
Core CSS
-------------------------------------------------------- */
@import "../../node_modules/bootstrap/scss/reboot";
//@import"../../node_modules/bootstrap/scss/root";
//@import "../../node_modules/bootstrap/scss/type";
//@import "../../node_modules/bootstrap/scss/images";
//@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
//@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/forms";
// @import "../../node_modules/bootstrap/scss/buttons";

/* --------------------------------------------------------
Components
-------------------------------------------------------- */

@import "../../node_modules/bootstrap/scss/transitions";
// @import "../../node_modules/bootstrap/scss/dropdown";
//@import "../../node_modules/bootstrap/scss/button-group";
//@import "../../node_modules/bootstrap/scss/input-group";
//@import "../../node_modules/bootstrap/scss/custom-forms";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
//@import "../../node_modules/bootstrap/scss/card";
// @import "../../node_modules/bootstrap/breadcrumb";
// @import "../../node_modules/bootstrap/scss/pagination";
// @import "../../node_modules/bootstrap/scss/badge";
// @import "../../node_modules/bootstrap/scss/jumbotron";
@import "../../node_modules/bootstrap/scss/alert";
// @import "../../node_modules/bootstrapscss/progress";
// @import "../../node_modules/bootstrap/scss/media";
// @import "../../node_modules/bootstrap/scss/list-group";
// @import "../../node_modules/bootstrap/scss/close";

/* --------------------------------------------------------
Components w/ JavaScript
-------------------------------------------------------- */

// @import "../../node_modules/bootstrap/scss/modal";
// @import "../../node_modules/bootstrap/scss/tooltip";
// @import "../../node_modules/bootstrap/scss/popover";
// @import "../../node_modules/bootstrap/scss/carousel";

/* --------------------------------------------------------
Utility Classes - Directory
-------------------------------------------------------- */
@import "../../node_modules/bootstrap/scss/utilities";

/* --------------------------------------------------------
Import Custom Styles Here
-------------------------------------------------------- */
 @import "MASTER-DIR"; // Custom Modules (IMPORTS)
