/*
Border Radius Mixin
- Passes In Some Variable To Make It Dynamic
- Browser Compatability Is Considered When Using Border Radius
- Variables Allows The % To Change Everytime Its Called
 */

@mixin border-radius($radius){
  border-radius:  $radius;
  -webkit-border-radius:  $radius;
  -moz-border-radius:  $radius;
  -o-border-radius: $radius;
}
