/*
Border  Styling
- Variables Are Used To Make The Values Unique
- 3 Variables Are Passed In A Width, Style And Colour
*/

@mixin border($width, $style, $colour) {
  border-width: $width;
  border-style: $style;
  border-color: $colour;
}
